@model WorkshopWrangler.ViewModels.HomePage

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="container">
        <div class="row">
            <h1>The .NET Core Weekend Workshop Wrangler</h1>
            <p class="lead">
                We're thinking of running a .NET Core Weekend Workshop with Mark Rendle
                for our members and the local community. Read on to find out what the workshop
                will cover, then let us know if you're interested and which weekends are best for
                you using the form at the end.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>.NET Core</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada turpis ac facilisis dignissim. Ut pellentesque aliquet diam, vel finibus tortor feugiat at. Suspendisse lorem dui, vehicula auctor tristique in, finibus nec orci. Nunc semper urna nulla, in faucibus magna suscipit eget. Sed commodo neque feugiat, vehicula quam in, ullamcorper lorem. Ut gravida dolor id porta vulputate. Proin blandit ligula justo, quis tristique libero pellentesque nec. Pellentesque posuere libero dapibus est congue tempus.
                </p>
            </div>
            <div class="col-md-4">
                <h3>ASP.NET Core</h3>
                <p>
                    Praesent viverra et erat sed sagittis. Suspendisse potenti. Duis sagittis laoreet pretium. Quisque vulputate mattis turpis in porttitor. Nullam hendrerit neque ex, nec congue odio vehicula id. Donec ultricies non sapien ullamcorper vestibulum. Suspendisse ante nisi, feugiat a malesuada nec, molestie eu enim. Integer vehicula ipsum et metus fringilla dapibus. Nunc ac erat libero. In malesuada vulputate tortor vel auctor. Cras congue sapien eu facilisis iaculis. Donec odio nulla, luctus vestibulum metus a, lobortis tincidunt metus. Vivamus nec consectetur est.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Platforms</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada turpis ac facilisis dignissim. Ut pellentesque aliquet diam, vel finibus tortor feugiat at. Suspendisse lorem dui, vehicula auctor tristique in, finibus nec orci. Nunc semper urna nulla, in faucibus magna suscipit eget. Sed commodo neque feugiat, vehicula quam in, ullamcorper lorem. Ut gravida dolor id porta vulputate. Proin blandit ligula justo, quis tristique libero pellentesque nec. Pellentesque posuere libero dapibus est congue tempus.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <h1>Interested?</h1>
        </div>
        <form id="register-form" method="post" asp-controller="Home" asp-action="Register">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" class="control-label">Name:</label>
                        <input id="name" name="name" type="text" class="form-control input-block">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input id="email" name="email" type="email" class="form-control input-block">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="notes">Notes:</label>
                        <textarea id="notes" name="notes" class="form-control input-block"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">I'm interested</button>
                </div>
                <div class="col-md-4">
                    @foreach (var date in Model.AvailableDates)
                    {
                        <div>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <span class="onoffswitch-text">@date.ToString("dd") / @date.AddDays(1).ToString("dd MMMM yyyy")</span>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>